@import url('https://fonts.googleapis.com/css?family=Magra');
@import url('https://fonts.googleapis.com/css?family=Audiowide');
p {
    padding-top: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
}

h3{
  text-align: center;
  position: absolute;
  top: 600px;
  left: 15%;
  font-size: 550%;
  color: white;
}

h4{
  text-align: center;
  position: absolute;
   top: 560px;
   left: 15%;
  color: black;
  font-size: 550%;
}

body{
  background-color: purple;
}

h1{
  position: absolute;
    top: 150px;
    left: 35%;
    color: white;
    font-size:900%;
    font-family:Audiowide;
}

h2{
  position: absolute;
    top: 5px;
    left: 5%;
    color: pink;
    font-size:300%;
    font-family:Audiowide;
}

h5{
    position: absolute;
    color: gold;
    font-size: 800%;
    top: 500px;
    left: 35%;
}

h11{
  position: absolute;
  color: white;

  font-size: 800%;
  top: 700px;
  left: 20%;
}

#music:hover{
  background-color: purple;
  color:white;
}

#music{
  position: absolute;
    top: 50px;
    left: 80%;
    background-color: transparent;
   color: white;
   border: 2px solid purple;
   font-family: magra;
}

#home:hover{
  background-color: purple;
  color:white;
}

#home {
  position: absolute;
    top: 50px;
    left: 70%;
    background-color: transparent;
    color: white;
    border: 2px solid purple;
    font-family: magra;
}

#contactus:hover{
  background-color: purple;
  color: white;
}

#contactus {
   position: absolute;
    top: 50px;
    left: 90%;
     background-color: transparent;
     color: white;
     border: 2px solid purple;
     font-family: magra;
}

#quiz{
  position: absolute;
   top: 50px;
   left: 60%;
    background-color: transparent;
    color: white;
    border: 2px solid purple;
    font-family: magra;
}

#quiz:hover{
  background-color: purple;
  color: white;
}

a:link {
    text-decoration: none;
    color: white;
}

 #Drake {
   width: 30%;
height: auto;
padding-left: 20%;
 }



#TheWeekend {
  width: 30%;
height: auto;
padding-left: 20%;
}

#Selena{
  width: 30%;
height: auto;
padding-left: 20%;
}

#tats_tracks {
height: 300px;
}

#music_quiz {
  height: 300px;
}

#Songs {
  height: 270px;
}

#squires {
  position: absolute;
  font-size: 15px;
  right: 20px;
  top: 0px;
}

#vicky {
  position: absolute;
  font-size: 15px;
  right: 20px;
  top: 900px;
}

#hello {
  position: absolute;
  font-size: 15px;
  right: 20px;
  top: 270px;
}

a {
  color: hotpink;
}

h7{
  position: absolute;
  color: white;
  top: 840px;
  left: 10%;
  font-size: 130%;
}

h8{
  position: absolute;
  color: white;
  font-size: 500%;
  top: 700px;
  left: 35%;
}

h9{
  position: absolute;
  color: white;
  font-size: 130%;
  top: 860px;
  left: 10%;
}

h10{
  position: absolute;
  color: white;
  font-size: 130%;
  top: 880px;
  left: 10%;
}

#myInput {
    background-image: url('/css/searchicon.png'); /* Add a search icon to input */
    background-position: 10px 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 100%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
}

#myUL {
    /* Remove default list styling */
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#myUL li a {
    border: 1px solid #ddd; /* Add a border to all links */
    margin-top: -1px; /* Prevent double borders */
    background-color: #f6f6f6; /* Grey background color */
    padding: 12px; /* Add some padding */
    text-decoration: none; /* Remove default text underline */
    font-size: 18px; /* Increase the font-size */
    color: black; /* Add a black text color */
    display: block; /* Make it into a block element to fill the whole list */
}

#myUL li a.header {
    background-color: #e2e2e2; /* Add a darker background color for headers */
    cursor: default; /* Change cursor style */
}

#myUL li a:hover:not(.header) {
    background-color: #eee; /* Add a hover effect to all links, except for headers */
}

p{
  color: white;
  font-size: 150%;
}
